* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial;
}

header {
    height: 94px;
    background-color: #ff5b5bfc;
    /* padding: 2px; */
}

header h1 {
    float: left;
    margin: 20px;
    font-size: 40px;
    font-family: bold;
    color: white;
}

.logo {
    width: 90px;
    height: 90px;
    padding: 10px;
    float: left;
    margin-left: 20px;
}

.logo1 {
    width: 90px;
    height: 90px;
    padding: 10px;
    float: right;
    margin-left: 20px;
}

.social {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 23px;
    border-radius: 15px;
}

.search {
    height: 500px;
    width: 100%;
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 500px;
}

.search h1 {
    position: relative;
    top: 15%;
}

#logo {
    width: 150px;
    height: 150px;
    background-color: #ffffffb8;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 44%;
    top: 10%;
    animation-duration: 5s;
    animation-name: rota;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rota {
    0% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(180deg);
    }
    0% {
        transform: rotate(360deg);
    }
}

#logo h1 {
    position: relative;
    left: 28%;
    top: 22%;
    font-size: 69px;
}

.dropdown {
    /* border: 5px solid blue; */
    width: 60vw;
    height: 10%;
    position: relative;
    left: 20vw;
    top: 22%;
}

.dropdown select {
    width: 49%;
    height: 80%;
    border-radius: 10%;
}

.quick-search {
    margin: auto;
}

.quick-search h1 {
    margin-left: 5%;
    margin-right: 50px;
    color: orange;
}

.quick-search h2 {
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
    color: rgb(66, 66, 103);
}

.main {
    width: 85%;
    margin: auto;
}

.cards {
    width: 350px;
    margin-bottom: 40px;
    margin-right: 15px;
    height: 225px;
    display: inline-block;
    font-size: 15px;
    animation-name: pop;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    border-radius: 10%;
}

.cards h3 {
    font-size: 20px;
}

@keyframes pop {
    0% {
        box-shadow: 10px 10px 20px #908a8afc;
    }
    25% {
        box-shadow: 10px 10px 20px #908a8afc;
        width: 350px;
        margin-bottom: 40px;
        margin-right: 15px;
        height: 225px;
        transform: rotate(4deg);
    }
    50% {
        box-shadow: 10px 10px 15px #908a8afc;
        width: 350px;
        margin-bottom: 40px;
        margin-right: 15px;
        height: 225px;
        transform: rotate(0deg);
    }
    75% {
        width: 350px;
        margin-bottom: 40px;
        margin-right: 15px;
        height: 225px;
        transform: rotate(-4deg);
    }
    100% {
        width: 350px;
        margin-bottom: 40px;
        margin-right: 15px;
        height: 225px;
    }
}

.p1 {
    width: 54%;
    height: 100%;
    float: left;
}

.p2 {
    width: 45%;
    height: 100%;
    float: left;
    padding: 10px;
}

.p2 a {
    color: blue;
}

.p1 img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
}

a {
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    height: 150px;
    margin-top: 5%;
}

footer p {
    text-align: left;
}

.foot {
    margin-top: 20px;
}

.content {
    width: 100vw;
}

.filter {
    width: 200px;
    height: 500px;
    margin-top: 5px;
    margin-right: 7px;
    float: left;
    border-radius: 10%;
    box-shadow: 10px 10px 20px #908a8afc;
}

.restaurants {
    width: 74%;
    margin: 5px;
    height: 90%;
    display: inline-block;
    font-size: 13px;
}

.food-type {
    margin-left: 20px;
    margin-top: 5px;
}

.cost-range {
    margin-left: 20px;
    margin-top: 5px;
}

.template {
    width: 46%;
    height: 300px;
    border-radius: 10%;
    margin: 10px;
    font-size: 13px;
    float: left;
    box-shadow: 10px 10px 20px #908a8afc;
}

.template:hover {
    transform: scale(1.1);
    border-radius: 10%;
    margin: 10px;
    float: left;
    box-shadow: 10px 10px 20px #908a8afc;
}

.rest-img {
    float: left;
    width: 50%;
    height: 100%;
    margin: 10px;
}

.rest-img img {
    width: 100%;
    height: 90%;
    border-radius: 10%;
}

.rest-info {
    padding: 10px;
}

.rest-info p {
    margin: 5px;
}

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ff5b5bfc;
}

.checked {
    color: orange;
}

.fetch {
    text-align: left;
    float: left;
    padding: 20px;
    width: 33%;
}

.fetch img {
    height: 30px;
    width: 30px;
    float: left;
}

.pagination {
    margin: auto;
    margin-top: 25px;
    float: left;
    width: 100%;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    margin: 7px;
    border: 1px solid black;
    border-radius: 10%;
}

.pagination a.active {
    background-color: #ff5b5bfc;
    color: white;
}

.filter2 {
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 20px #908a8afc;
    border-radius: 20%;
}

.filter2 .ft,
.filter2 .fr {
    display: inline-block;
    width: 45%;
}

@media screen and (min-width: 836px) {
    .filter2 {
        display: none;
    }
}

@media screen and (max-width:836px) {
    .logo1 {
        display: none;
    }
    .logo {
        width: 70px;
        height: 70px;
        padding: 10px;
        float: left;
        margin-top: 5px;
        margin-left: 10px;
    }
    header h1 {
        float: left;
        /* margin-top: 30px; */
        font-size: 33px;
        margin-bottom: 30px;
        margin-left: 5px;
        margin-right: 5px;
        font-family: bold;
        color: white;
    }
    .fetch {
        text-align: left;
        float: left;
        padding: 10px;
        width: 33%;
    }
    .fetch h2 {
        font-size: 15px;
    }
    .fetch h5 {
        font-size: 10px;
    }
    .cards {
        width: 300px;
        margin-bottom: 40px;
        margin-right: 15px;
        height: 200px;
        display: inline-block;
        font-size: 15px;
        animation-name: pop;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        border-radius: 10%;
    }
    @keyframes pop {
        0% {
            box-shadow: 10px 10px 20px #908a8afc;
        }
        25% {
            box-shadow: 10px 10px 20px #908a8afc;
            width: 300px;
            margin-bottom: 40px;
            margin-right: 15px;
            height: 200px;
            transform: rotate(4deg);
        }
        50% {
            box-shadow: 10px 10px 15px #908a8afc;
            width: 300px;
            margin-bottom: 40px;
            margin-right: 15px;
            height: 200px;
            transform: rotate(0deg);
        }
        75% {
            width: 300px;
            margin-bottom: 40px;
            margin-right: 15px;
            height: 200px;
            transform: rotate(-4deg);
        }
        100% {
            width: 300px;
            margin-bottom: 40px;
            margin-right: 15px;
            height: 200px;
        }
    }
    .filter {
        display: none;
    }
    .restaurants {
        width: 100%;
        margin: 5px;
        display: inline-block;
    }
    .template {
        width: 320px;
        height: 240px;
        border-radius: 10%;
        margin: 10px;
        float: left;
        font-size: 10px;
        box-shadow: 10px 10px 20px #908a8afc;
    }
    .template:hover {
        transform: scale(1.1);
        border-radius: 10%;
        /* margin: 10px; */
        float: left;
        box-shadow: 10px 10px 20px #908a8afc;
    }
    .dropdown {
        /* border: 5px solid blue; */
        width: 80vw;
        height: 8%;
        position: relative;
        left: 8vw;
        top: 22%;
    }
    .dropdown select {
        font-size: 10px;
    }
    #logo {
        position: relative;
        left: 35%;
        top: 10%;
    }
    .search h1 {
        font-size: 20px;
    }
}